<!-- <div class="card container">
    <div class="row p-2">
        <div class="col-10 col-sm-11 my-2">
            <h2>Proyectos</h2>
        </div>
        <div class="col-1" *ngIf="isLogged">            
            <a href="" routerLink="/nuevoproyecto"><i class="bi bi-plus-circle agregar"></i></a>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let Proyecto of proyecto">
                <div class="row">                    
                    <div class="col-9">
                        <a href="{{Proyecto.urlProyecto}}" rel="noreferrer noopener" target="_blank"><h3>{{Proyecto.nombreProyecto}}</h3></a>
                        <p>{{Proyecto.descripcionProyecto}}</p>        
                    </div>
                    <div class="col-3 d-flex justify-content-end" *ngIf="isLogged">                        
                        <a href="" (click)="deleteProyecto(Proyecto.id)"><i class="bi bi-trash3-fill" style="color: lightcoral"></i></a>
                        <a href="" routerLink="/editproyecto/{{Proyecto.id}}"><i class="bi bi-pencil-fill" style="color: var(--pen-color)"></i></a>             
                    </div>    
                </div>
            </tr>
        </tbody>
    </table>
</div> -->