<div class="card container">
    <div class="row p-2">
        <div class="col-10 col-sm-11 my-2">
            <h2>Proyectos</h2>
        </div>
        <div class="col-1">
            <a href="" routerLink="/nuevoproyecto" *ngIf="isLogged" ><img src="../../../assets/agregar.png" alt="" class="agregar"></a>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let Proyecto of proyecto">
                <div class="row">                    
                    <div class="col-9">
                        <a href="{{Proyecto.urlProyecto}}" rel="noreferrer noopener" target="_blank"><h3>{{Proyecto.nombreProyecto}}</h3></a>
                        <p>{{Proyecto.descripcionProyecto}}</p>        
                    </div>
                    <div class="col-3 d-inline p-2">
                        <a href="" *ngIf="isLogged" routerLink="/editproyecto/{{Proyecto.id}}"><img src="../../../assets/lapiz.png" alt=""></a>
                        <a href="" *ngIf="isLogged" (click)="deleteProyecto(Proyecto.id)"><img src="../../../assets/trash.png" alt="" class="trash"></a>
                    </div>    
                </div>
            </tr>
        </tbody>
    </table>
</div>