div {
    border-radius: 20px;
}

.card {
    margin-bottom: 5px;
}

.col-2 a img {
    width: 28px;
    float: right;
    padding-right: 0px;
}

a img {
    width: 33px;
    height: 33px;  
    padding: 5px;
    float: right;
    margin: 5px;
    border-radius: 100%;           
}

a img:hover{       
    box-shadow: 0px 0px 5px 5px blue;     
}

a .agregar:hover{       
    box-shadow: 0px 0px 5px 5px green;     
}

a .trash:hover{       
    box-shadow: 0px 0px 5px 5px red;     
}