div {
    background-color: dodgerblue;
}

#salir {
    background-color: cyan;
    color:black;
}

#salir:hover {
    background-color: red;
    color: white;
}

button {
    background-color:black;
    color: white;
    font-size: 15px;
    padding-top: 3px;
    height: 30px;    
}

button:hover {
    background-color: cyan;
    color:black;
}

a img {
    width: 33px;  
    padding: 5px;
    float: right;
    margin: 5px;
    border-radius: 100%;           
}

a img:hover{       
    box-shadow: 0px 0px 5px 5px blue;         
}

a .agregar:hover{       
    box-shadow: 0px 0px 5px 5px green;     
}

a .trash:hover{       
    box-shadow: 0px 0px 5px 5px red;     
}

@media (max-width: 575px){
    
    button {
        margin: 12px;
    }

    #social {
        margin: 0 auto;
    }
}