#banner {
    border-radius: 20px 20px 0px 0px;
    max-height: 350px;
    width: 100%;     
    object-fit: cover ;    
}

#selfie {
    width: 40%;
    max-width: 250px;
    border-radius: 100%;
    position: absolute;    
    bottom: 230px;
    box-shadow: 0px 0px 5px 5px var(--text-color);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

h2, p {
    margin-bottom: 7px;
    color: var(--text-color);
}

#cont-botones {
    bottom: 5px;
}

button {
    margin: 3px;
    margin-bottom: 20px;
}

div {
    border-radius: 20px;          
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    background-color: var(--bkg-div-color); 
    border-color: var(--text-color);     

}

button:hover {
    background-color: white;
    color: #0d6efd;    
}

a i{        
    width: 40px;  
    height: 40px;
    padding: 0px 5px 1px 5px;        
    font-size: 30px;
    border-radius: 100px;        
    position: absolute;    
    bottom: 210px;
    left: 240px;        
}

a i:hover{    
    box-shadow: 0px 0px 5px 5px;    
}

h2 {
    display: inline-flex;
    transition: all 1.0s;
    transform-origin: left;
}

@media (max-width: 767px){
    #cont-selfie {
        height: 10px;
    }

    #selfie {
        left: 30%;        
        width: 40%;
        bottom: 230px;
    }

    a img{
        left: 70%;        
        bottom: 200px;
    }
    
    #cont-nombre {        
        text-align: center;
        align-content: center;
    }

    .d-inline {
        padding: 0px;
    }

    button {
        width: 100%;
        left: 0px;
    }
}
