@if (isLoad) {
<div class="card container col-12">    
    <div class="banner-container">
        <img src="{{persona.banner}}" alt="" id="banner">                    
        @if (isLogged) {
        <a href="" (click)="openImageDialog('banner'); $event.preventDefault()" class="edit-banner-btn"><i class="bi bi-pencil-fill"></i></a>
        }             
    </div>
    <div class="col-12 p-2" id="cont-selfie">                
        <img src="{{persona.img}}" alt="" id="selfie">                          
        @if (isLogged) {
        <a href="" (click)="openImageDialog('img'); $event.preventDefault()" class="edit-selfie-btn"><i class="bi bi-pencil-fill"></i></a>
        }             
    </div>
    <div class="col-12 p-4" id="cont-nombre">
        <span>                    
            <h2>{{persona.nombre}} {{persona.apellido}}</h2>     
            <p>{{persona.descripcion}}</p>
            <p>{{persona.ubicacion}}</p>
            <p>{{persona.correo}}</p>
        </span>
    </div>         
    <div class="col-12 px-4">
        <a href="mailto:{{persona.correo}}"><button type="button" class="btn btn-primary">Abrir Correo</button></a>
    </div>            
</div>
}