img {
    width: 30px;
    margin: 3px;
}

.pen, .trash {
    width: 33px;  
    padding: 5px;
    float: right;
    
    border-radius: 100%;           
}

a .pen:hover{       
    box-shadow: 0px 0px 5px 5px blue;         
}

a .trash:hover{       
    box-shadow: 0px 0px 5px 5px red;     
}

