<!-- <div class="card container col-12">    
    <div class="row">        
        <div>
            <span>
                <div class="row p-2">
                    <div class="col-10 col-sm-11 my-2">
                        <h2>Acerca de Mi</h2>
                    </div>
                    <div class="col-1">                        
                        <a href="" routerLink="/editacercade/{{acerca.id}}" class="p-2" *ngIf="isLogged"><i class="bi bi-pen-fill agregar" style="color: var(--pen-color)"></i></a>
                    </div>
                </div>
                <div class="row m-2">
                    <p *ngFor="let parrafo of texto">
                        {{parrafo}}
                    </p>                                         
                </div>
            </span>
        </div>
    </div>
</div> -->