<div class="row p-2">
    <div class="col-1"></div>
    <div class="col-7 col-sm-8">
        <div class="container"><p>Resolución de Problemas</p></div>
        <div class="progress">    
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col-3 col-sm-2 d-inline p-2">
        <app-boton-modificar-eliminar></app-boton-modificar-eliminar>        
    </div>
    <div class="col-1"></div>
</div>