<div class="wrapper">
    <div class="logo d-flex justify-content-center">
        <img src="../../../assets/logoMR.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Ingreso
    </div>
    <form class="p-3 mt-3" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="nombreUsuario" id="nombreUsuario" placeholder="Username" 
            [(ngModel)]="nombreUsuario" required />
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Password"
            [(ngModel)]="password" required />
        </div>
        <div *ngIf="isLoginFail" class="text-center fs-6" style="color: red;">
            Usuario o Passwrod incorrecto
        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <!--<a href="#">Forget password?</a> or <a href="#">Sign up</a>-->
    </div>
</div>