<!-- <div class="card container">
    <div class="row p-2">
        <div class="col-11">
            <h2>Experiencia</h2>
        </div>        
        <div class="col-1 d-inline" *ngIf="isLogged">
            <a href="" routerLink="/nuevaexp"><i class="bi bi-plus-circle agregar"></i></a>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let Experiencia of experiencia">
                <div class="row m-2">                    
                    <div class="container-fluid col-11 col-sm-3 col-lg-2 mb-6 d-flex align-items-center">
                        <img src="{{Experiencia.imgExp}}" alt="" class="rounded mx-auto d-block">
                    </div>
                    <div class="col-11 col-sm-7 col-lg-8">
                        <h3>{{Experiencia.nombreExp}}</h3>
                        <p>{{Experiencia.tiempoExp}}</p>                        
                        <p>{{Experiencia.descripcionExp}}</p>                        
                    </div>
                    <div class="col-1 col-sm-2 col-lg-2 d-flex justify-content-end  p-2" *ngIf="isLogged">   
                        <a href="" (click)="deleteExperiencia(Experiencia.id)"><i class="bi bi-trash3-fill" style="color: lightcoral"></i></a>
                        <a href="" routerLink="/editexperiencia/{{Experiencia.id}}"><i class="bi bi-pencil-fill" style="color: var(--pen-color)"></i></a>             
                    </div>
                </div>
            </tr>
        </tbody>
    </table>    
    <div class="row p-2">
        <div class="col-10 col-sm-11 my-2">
            <h2>Educación</h2>
        </div>
        <div class="col-1 d-inline" *ngIf="isLogged">            
            <a href="" routerLink="/nuevaexp"><i class="bi bi-plus-circle agregar"></i></a>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let Educacion of educacion">
                <div class="row m-2">
                    <div class="container-fluid col-11 col-sm-3 mb-2 col-lg-2 d-flex align-items-center">
                        <img src="{{Educacion.imgEdu}}" alt="" class="rounded mx-auto d-block">
                    </div>
                    <div class="col-11 col-sm-7 col-lg-8">
                        <h3>{{Educacion.nombreEdu}}</h3>
                        <p>{{Educacion.tiempoEdu}}</p>    
                        <p>{{Educacion.descripcionEdu}}</p>                        
                    </div>
                    <div class="col-1 col-sm-2 col-lg-2 d-flex justify-content-end p-2" *ngIf="isLogged">                                                
                        <a href="" (click)="deleteEducacion(Educacion.id)"><i class="bi bi-trash3-fill" style="color: lightcoral"></i></a>
                        <a href="" routerLink="/editeducacion/{{Educacion.id}}"><i class="bi bi-pencil-fill" style="color: var(--pen-color)"></i></a> 
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div> -->