<div class="card container">
    <div class="row p-2">
        <div class="col-10">
            <h2>Experiencia</h2>
        </div>
        <div class="col-2">
            <app-boton-agregar></app-boton-agregar>
        </div>
    </div>
    <app-item-exp></app-item-exp>
    <app-item-exp></app-item-exp>
    <div class="row p-2">
        <div class="col-10">
            <h2>Educación</h2>
        </div>
        <div class="col-2">
            <app-boton-agregar></app-boton-agregar>
        </div>
    </div>
    <app-item-edu></app-item-edu>
</div>