div {    
    text-align: left;        
    border-radius: 20px;
}

.card {
    margin-bottom: 10px;
    background-color: var(--bkg-div-color);   
    border-color: var(--text-color);     
}

h2, p, h3 {
    color: var(--text-color);
}

i {
    font-size: 25px; 
    margin: 4px;    
    padding-inline: 5px;
    border-radius: 100%;            
}

i:hover{       
    box-shadow: 0px 0px 5px 5px blue;     
}

div > .img-exp {
    width: 100px;    
}
.skill-logo{
    width: 200px;
    height: 200px;
    background-color: var(--img-bkg-color);
    border-color: var(--text-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    object-fit: contain;
    padding: 10px;   
}

.banner {
    padding-top: 90px;
}

img:hover {
    transform: scale(1.08);
    object-fit: contain;
}
.loading {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;    
    transition: all 1s;
}

@media (max-width: 575px){
    .banner {
        padding-top: 212px;
    }
}