<div class="container-fluid" style="position: fixed; width: 100%; z-index: 1">
  <app-header [isLogged]="isLogged" (emmitLogout)="onLogout()"></app-header>
</div>
<app-login (emitGetIsLogged)="getIsLogged()" [isLogged]="isLogged"></app-login>
<div *ngIf="isLoad" class="banner">
  <!-- <app-en-contruccion [isLogged]="isLogged"></app-en-contruccion> -->
  <app-banner [isLogged]="isLogged"></app-banner>
</div>
<div class="container-fluid d-flex justify-content-center">
  <div
    *ngIf="!isLoad"
    class="spinner-border"
    role="status"
    style="width: 100px; height: 100px; margin: 50px"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="card container col-12">
  <div class="row">
    <div>
      <span>
        <div class="row p-2">
          <div class="col-10 col-sm-11 my-2">
            <h2>Acerca de Mi</h2>
          </div>
          <div class="col-2 col-sm-1">
            <a href="" *ngIf="isLogged" routerLink="../../Administrar/AcercaDe"
              ><i class="bi bi-pencil-fill" style="color: var(--pen-color)"></i
            ></a>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row m-2">
          <p *ngFor="let parrafo of texto">
            {{ parrafo }}
          </p>
        </div>
      </span>
    </div>
  </div>
</div>
<div class="card container">
  <div class="row p-2">
      <div class="col-10 col-sm-11 my-2">
          <h2>Proyectos</h2>
      </div>      
  </div>
  <table class="table">
      <tbody>
          <tr *ngFor="let Proyecto of listaProyectos">
              <div class="row">                    
                  <div class="col-9">
                      <a href="{{Proyecto.url_proyecto}}" rel="noreferrer noopener" target="_blank"><h3>{{Proyecto.nombre_proyecto}}</h3></a>
                      <p>{{Proyecto.descripcion_proyecto}}</p>        
                  </div>                  
              </div>
          </tr>
      </tbody>
  </table>
</div>
<div class="card container">
  <div class="row p-2">
    <div class="col-10 col-sm-11 my-2">
      <h2>Hard Skills</h2>
    </div>
    <div class="col-2 col-sm-1">
      <a *ngIf="isLogged" (click)="Administrar('Skill')"
        ><i class="bi bi-pencil-fill" style="color: var(--pen-color)"></i
      ></a>
    </div>
  </div>
  <div class="row my-2">
    <div
      *ngFor="let Skill of listaSkills"
      class="container col-12 col-sm-6 my-4 col-lg-4"
    >
      <div class="col-12 text-center">          
          <img class="skill-logo" [src]="Skill.img_skill" alt=""/>
      </div>
      <div class="container col-12 text-center">
        <h3>{{ Skill.nombre_skill }}</h3>
      </div>
    </div>
  </div>
</div>
<div class="card container">
  <div class="row p-2">
    <div class="col-11">
      <h2>Experiencia</h2>
    </div>
    <div class="col-1">
      <a *ngIf="isLogged"
        ><i
          class="bi bi-pencil-fill"
          style="color: var(--pen-color)"
          (click)="Administrar('Experiencia')"
        ></i
      ></a>
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr *ngFor="let Experiencia of listaExperiencia">
        <div class="row m-2">
          <div
            class="container-fluid col-12 col-sm-6 col-lg-4 mb-6 d-flex align-items-center"
          >
            <img
              src="{{ Experiencia.img_exp }}"
              alt=""
              class="rounded mx-auto d-block skill-logo"
            />
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <h3>{{ Experiencia.nombre_exp }}</h3>
            <p>{{ Experiencia.tiempo_exp }}</p>
            <p>{{ Experiencia.descripcion_exp }}</p>
          </div>          
        </div>
      </tr>
    </tbody>
  </table>
</div>