<div class="card container col-12">    
    <div class="row">        
        <div>
            <div class="col-12">               
                <img src="{{persona.banner}}" alt="" id="banner">                    
            </div>
            <div class="col-12 p-2" id="cont-selfie">                
                <img src="{{persona.img}}" alt="" id="selfie">          
                <a routerLink="editpersona/{{persona.id}}" *ngIf="isLogged"><img src="../../../assets/lapiz.png" alt=""></a>
            </div>
            <div class="col-12 p-4" id="cont-nombre">
                <span>
                    <h2>{{persona.nombre}} {{persona.apellido}}</h2>
                    <p>{{persona.descripcion}}</p>
                    <p>{{persona.ubicacion}}</p>
                </span>
            </div>            
            <div class="col-12 px-4">
                <a href="mailto:{{persona.correo}}"><button type="button" class="btn btn-primary">Contacto</button></a>
                <!--
                <button type="button" class="btn btn-primary">Añadir Sección</button>
                <button type="button" class="btn btn-primary">Mas</button>
                -->            
            </div>            
        </div>
    </div>
</div>