<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block justify-content-center align-items-center">
        <div class="logo d-flex justify-content-center">
          <img src="../../../assets/logoMR.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            Ingreso
        </div>          
      </div>
      <!-- <div class="modal-body">          
        <div class="row d-flex justify-content-center align-items-center" id="inputsLogin">              
          <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
            <input class="m-2" type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Username" [(ngModel)]="nombreUsuario" required />                     
          </div>          
          <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
            <input class="m-2" type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password" required />
          </div>          
        </div>
        <div *ngIf="logMsj" class="text-center fs-6" style="color: red;">
            <p [ngClass]="mensajeClass">{{logMsj}}</p>
        </div>        
      </div> -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" id="btnLogin" (click)="onLogin()">Ingresar</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
    <div class="container-fluid">
        <div class="row px-2">
            <div class="col-12 col-sm-4 col-lg-2 d-flex justify-content-center align-items-center">
                <div>
                    <img src="assets/APLogo-20-20.png" alt="logo-argentina-programa" id="logoAP">
                </div>
            </div>        
            <div class="col-12 col-sm-6 col-lg-9 d-flex justify-content-end align-items-center">            
                <div id="social" class="d-flex justify-content-end align-items-center">
                    <a href="" routerLink="/nuevasocial" *ngIf="isLogged"><i class="bi bi-plus-circle agregar"></i></a>                
                    <app-social class="d-flex"></app-social>                            
                </div>
            </div>        
            <div class="col-12 col-sm-2 col-lg-1 d-flex justify-content-center align-items-center">
                <div class="row">
                    <div [ngSwitch]="isLogged" class="col-12 my-2 d-flex justify-content-center align-items-center">
                        <!-- <button data-bs-toggle="modal" data-bs-target="#modal" *ngSwitchCase="false" type="button" class="btn social">Login</button>             -->
                        <!--<button *ngSwitchCase="false" type="button" class="btn social" (click)="login()">Login</button>            -->
                        <button *ngSwitchCase="true" type="button" id="salir" class="btn social" (click)="onLogout()">Logout</button>                                                 
                    </div>            
                    <div class="col-12 my-2 d-flex justify-content-center align-items-center">
                        <div class="form-check form-switch d-flex justify-content-center align-items-center">
                            <input [(ngModel)]="isDark" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (click)="Darkness()">
                            <i class="bi bi-moon-stars-fill" *ngIf="isDark" style="color: white" (click)="Darkness()"></i>
                            <i class="bi bi-sun-fill" *ngIf="!isDark" style="color: yellow" (click)="Darkness()"></i>                         
                        </div>
                    </div>
                </div>                             
            </div>                       
        </div>
    </div>
</div>