div {
    border-radius: 20px;
}

.card {
    margin-bottom: 5px;
    background-color: var(--bkg-div-color);    
}

h3, h2, p {
    color: var(--text-color);
}

a .agregar {
    font-size: 30px;   
    padding: 0px 5px 1px 5px;    
    color: var(--text-color);
    border-radius: 100%;  
}

i {
    font-size: 25px; 
    margin: 4px;    
    padding-inline: 5px;
    border-radius: 100%;            
}

i:hover{       
    box-shadow: 0px 0px 5px 5px blue;     
}

a .agregar:hover{       
    box-shadow: 0px 0px 5px 5px green;     
}

a .bi-trash3-fill:hover{       
    box-shadow: 0px 0px 5px 5px red;     
}

.text-center{
    position: relative;
}

#botones{
    position: absolute;
    top: 0px;
    right: 0px;
}

p {
    margin-bottom: 3rem;
}