<!-- <div class="card container">
    <div class="row p-2">
        <div class="col-10 col-sm-11 my-2">
            <h2>Hard Skills & Soft Skills</h2>
        </div>
        <div class="col-1" *ngIf="isLogged">                        
            <a href="" routerLink="/nuevaskill"><i class="bi bi-plus-circle agregar"></i></a>
        </div>
    </div>
    <div class="row my-2">        
        <div *ngFor="let Skill of skills" class="container col-12 col-sm-6 col-lg-4">            
            <div class="col-12 text-center">
                <circle-progress
                    [percent]="Skill.percentageSkill"
                    [radius]="100"
                    [imageSrc]="Skill.imgSkill"
                    [showTitle]="!Skill.imgSkill"
                    [title]="Skill.nombreSkill"
                    [titleColor]="'black'"
                    [titleFontSize]="'50'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [showImage]="Skill.showImg"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="500"
                    >
                </circle-progress>
            </div>
            <div *ngIf="isLogged" class="container col-12 p-2 d-flex justify-content-center">                
                <a href="" (click)="deleteSkill(Skill.id)"><i class="bi bi-trash3-fill" style="color: lightcoral"></i></a>
                <a href="" routerLink="/editskill/{{Skill.id}}"><i class="bi bi-pencil-fill" style="color: var(--pen-color)"></i></a>             
            </div>                                      
            <div class="container col-12 text-center">                
                <h3>{{Skill.nombreSkill}}</h3>
            </div>
            <div class="container col-12 text-center">
                <p>{{Skill.percentageSkill}}%</p>                
            </div>                                    
        </div>   
    </div>
</div> -->