@use "tailwindcss";

@theme {
  --color-text-primary: #222;
  --color-background: white;
}

:root {
    --text-color: #222;
    --bkg-color: white;
    --sdw-color: #222;    
    --bkg-div-color: white;
    --img-bkg-color: #f0f0f0;
    
    --btn-txt-color: white;
    --btn-bg-color: black;

    --bkg-hdr-color: dodgerblue;

    --pen-color: blue;

    --icon-sun-moon-color: yellow;
}

body {
    background-color: var(--bkg-color);
    color: var(--text-color);
}

body.dark-theme {
    --text-color: #eee;

    --bkg-color: rgb(37, 37, 37);
    --bkg-div-color: #1d2226;

    --btn-txt-color: black;
    --btn-bg-color: white;

    --img-bkg-color: #333;

    --bkg-hdr-color: darkblue;

    --pen-color: dodgerblue;

    --icon-sun-moon-color: blue;

    background-color: var(--bkg-color);
}

.theme {
    background-color: var(--bkg-color);    
}

div, h3, h2, p, .card, .col-sm-3, .agregar, body {
    transition: all 1.0s;
}
